.array-container {
    position: absolute;
    width: 70%;
    left: 30px;
    /* bottom: 0px; */
    bottom: 50px;
    margin-left: auto;
}
  
.bar {
  width: 25px;
  display: inline-block;
  margin: 0 3px;
  background-color: aquamarine;
  border: blue solid 1px;
}

.bar:hover{
  background-color:pink;
  border-color: palevioletred;
}

.btn {
  border: black solid 1px;
  margin-left: 10px;
  margin-top: 8px;
  background-color: chartreuse;
}

.btn:hover{
  background-color: #1bd343;
  border-radius: 2px;
  border-color: rgb(141, 115, 9);
}